* {
  color: black;
  list-style: none;
}

.calc {
  width: 50%;
  margin: 20px auto;
}

.calclines {
  font-size: 20px;
}

.firstrow {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #858694;
  font-size: 30px;
  padding: 30px 8px;
  font-weight: bold;
  text-align: end;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lastrow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.number {
  background-color: #e0e0e0;
  font-size: 20px;
  padding: 30px 0;
  font-weight: bold;
  border: 1px solid #ccc;
}

.end {
  background-color: #f5913e;
}
